@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Abril+Fatface');

/* base */
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td {padding:0; margin:0; font-family:'Open Sans', Dotum, Helvetica,AppleGothic,sans-serif; color:#666;}
table {width:100%; border-collapse:collapse; border-spacing:0; table-layout:auto;}
ol, ul, li{list-style:none;}
h1, h2, h3, h4, h5, h6{font-weight:normal; font-size:100%; display:block;}
form, fieldset{border:0;}
img{border:0; vertical-align:top !important;}
address, caption, em {font-weight:normal; font-style:normal;}
legend{position:absolute !important; top:-9999px !important; width:1px !important; height:1px !important; font-size:0; overflow:hidden !important;}
hr, caption{display:none;}
button{overflow:visible; margin:0; padding:0; border:0 none; background:transparent; cursor:pointer;}
body, tr, th, td, p, dt, dd, li, a, input{font:16px/120% 'NSQ'; color:#666;  vertical-align:middle;}
input, textarea {font:13px 'NSQ' !important; vertical-align:middle;}
em, address{font-style:normal}
object, embed{margin:0;padding:0; font-size:0}
a:link, a:visited, a:active {color:#464646; text-decoration:none;}
a:hover {color:#777; text-decoration:none;}
label{cursor:pointer;}

/* main */

header {height: 60px; background: #fff; border-bottom: 1px solid #ddd }
header:after {content: ""; display: block; clear: both;}
header h1 {float: left; width: 200px;}
header h1 a {font-size:19px; line-height: 60px;  font-family: 'Abril Fatface'; color:#333; padding-left: 60px;}
header nav {float: left;}
/* header nav ul li {display: inline-block; height:  60px; line-height: 60px}
header nav ul li a {display: block; height:  60px; line-height: 60px; padding: 0 10px; font-size: 14px;}*/
header > a.btn_resume {float: right; padding-right: 60px; display: inline-block; height: 60px; line-height: 60px;}
header > a.btn_resume > span {display:inline-block; padding: 4px 10px; height: 26px ; line-height: 21px; border-radius:3px; font-size:13px; color:#fff; background: #333; margin-top: 17px; transition:all .3s;}
header > a.btn_resume:hover > span {}
main {width: 100%;}
main nav {width: 250px; float: left;}
main section {width: calc(100wv - 250px); float: left;}

/* LIST */
.gallery_product {cursor:pointer; transition: all .3s; position: relative;}
.gallery_product .inner {position: absolute; width: 100%; height: 100%; display: none; background: rgba(0,0,0,.0); left:0; top:0; transition: all .3s; box-sizing: border-box;}
.gallery_product:hover .inner {display: block;}
.gallery_product .inner:hover { background: rgba(0,0,0,.7); padding-top:20%;}
.gallery_product .inner.text {text-align: center}
.gallery_product .inner.text dl dt {color:#fff;}
.gallery_product .inner.text dl dt span {font-size: 12px; display: block; font-weight: bold; color: #fff; height: 40px}
.gallery_product .inner.text dl dt h3 {font-size: 15px; display: block; font-weight: bold; color: #fff;}
.gallery_product .inner.text dl dt p {font-size: 12px; display: block; color: #fff; margin-top: 1rem}
.gallery_product .inner.text dl dd {margin-top: 40px; color:rgba(255,255,255,.5);}



.filter-button {font-size: 14px; height: 60px; line-height: 60px; padding:0 15px; box-sizing:border-box;}
.filter-button:hover{ border-bottom:2px solid #ddd;}
.btn-default:active,
.filter-button:active{}
.port-image {width: 100%;}
.img-responsive {width: 100%}




.pt-section {
	min-height: 800px;
}



/* Progress Tracker */
.progress-tracker {
  position: fixed;
  top: 50%;
  right: 10px;
}
.progress-tracker.hide {
  width: 0px;
}
.progress-tracker.hide ul li .pt-description,
.progress-tracker.hide.active ul li .pt-description,
.progress-tracker.hide.constant ul li.active .pt-description {
  display: none;
}
.progress-tracker ul li {
  width: 14px;
  height: 14px;
  position: relative;
  background-color: none;
  border:1px solid #000;
  margin-bottom: 10px;
  list-style-type: none;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
}
.progress-tracker ul li a {
  width: 100%;
  height: 100%;
  display: block;
}
.progress-tracker ul li .pt-description {
  display: none; position: absolute;  top: -2px; right: 25px; font-size: 12px; white-space:nowrap; color:#000;
}
.progress-tracker ul li.active { background-color: #000; border-color: #000;}
.progress-tracker.constant ul li.active .pt-description {display: block;}

.linkArea {width: 54px; height: 54px; background: rgba(255,255,255,.5); position: fixed; border: 1px solid #fff; left:50px; top: 50px; z-index: 3;}
.linkArea > a {display: block; height: 54px; text-align: center;font-size: 12px; cursor: pointer; transition: all .3s}
.linkArea > a span {display: block;text-align: center; font-size: 16px; padding-top: 12px}

.linkArea > a:hover {background: rgba(255,255,255,1); }
.pt-section.wrapAll {width: 100%; overflow-x: hidden;}
.pt-section.wrapAll img {position: relative; left:50%; margin-left: -1000px}
.pt-section.wrapSmall {width: 1180px; margin: 0 auto;}
.pt-section.wrapSmall img {display: block; width: 100%;}


h2.sub-title {font-size:36px; text-align: center; font-family: 'Abril Fatface'; color:#222; margin: 7rem 0 2rem; position: relative; padding-top: 60px}
h2.sub-title:before {content:"";position: absolute; width:1px; height: 50px; background: #222; display: block; left:50%; top:0;}
p.tac {text-align: center;}





@media all and (max-width:640px){

	header nav {display: none;}
	header h1 a {padding-left: 30px}
	header > a.btn_resume {padding-right: 30px}
}
